<h1>Edit Range Question</h1>
<%= form_for [@survey, @range_question] do |question_fields| %>

  <%= question_fields.hidden_field(:survey_id, :value => @survey.id) %>

  <%= question_fields.label :question_text %>
  <%= question_fields.text_field :question_text %>
  <br>

  <%= question_fields.label :range_min %>
  <%= question_fields.number_field :range_min %>
  <br>

  <%= question_fields.label :range_max %>
  <%= question_fields.number_field :range_max %>
  <br>

  <%= question_fields.label :required %>
  <%= question_fields.check_box :required%>
  <br>

  <%= question_fields.submit %>

<% end %>